html (lang="en")
  head 
  meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 
  body 
    form (action="/api/productos/guardar" class="needs-validation" novalidate enctype="multipart/form-data" method="POST")
      div (class="form-row")
        div (class="col-md-6 mb-3")
          label(for="validationTooltip") Nombre del producto 
          input(type="text" class="form-control" id="validationTooltip01" placeholder="Nombre" required) 
          div (class="valid-tooltip")
        
        div (class="col-md-6 mb-3")
          label(for="validationTooltip02") Precio 
          input(type="text" class="form-control" id="validationTooltip02" placeholder="$0000" required)
          div (class="valid-tooltip")

        div (class="form-group")
          input(type="file" name="Single")
          input(type="submit" placeholder="Ingresa imagen del producto")