<form action="/api/products/add" method="POST" class="form-list">
     <ul>
          <li>
               <label for="nombre"  class="fieldname"><p>Nombre:</p></label>
                    <input type="text" id="name" name="name" class="field">
          </li>
          <li>
               <label for="precio" class="fieldname"><p>Precio:</p></label>
               <input type="number" id="price" name="price" class="field">
          </li>
          <li>
               <label for="description" class="fieldname"><p>Descripción:</p></label>
                    <input type="text" id="description" name="description" class="field">
          </li>
          <li>
               <label for="thumbnail" class="fieldname"><p>Imágen:</p></label>
                    <input type="text" id="thumbnail" name="thumbnail" class="field">
          </li>
          <li>
               <label for="stock" class="fieldname"><p>Stock:</p></label>
                    <input type="number" id="stock" name="stock" class="field">
          </li>
               <li class="center-content"><button class="btn" type="submit">Enviar datos</button></li>
          </ul>
     </form>