<nav class="shadow-lg navbar navbar-expand-lg navbar-light col-12 p-3 fixed-top">
            <a class="navbar-brand" ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos/vista">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/carrito/listar/:id">Carrito</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a href="/" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inicio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="/productos/vista" class="dropdown-item">Productos</a>
                            <a href="/api/carrito/listar/:id" class="dropdown-item">Carrito</a>
                            <div class="dropdown-divider"></div>
                            <a href="/users/logout" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a href="/users/signin" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/signup">Register</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>